{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block body %}
    <main id="concept" class="container-fluid p-3">
        <header class="row text-center pt-5">
            <h1>Réinitialisation du mot de passe</h1>
        </header>
        <section id="conceptExplain" class="col-md-6 mx-auto mb-4 p-5">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {{ form(form) }}
        </section>
    </main>
{% endblock %}
