body {
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* mise en forme des bulles de page accueil */
.info-bubble {
    display: none;
}

/* mise en forme des bulles de page accueil */
html {
    height: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


#navbar {
    background-color: #FF9130;
    top: 0;
}
@media (max-width: 992px) {
    #logonav{
        height: 100px;
    }
}
#navbar a{
color: white;}

#footer {
    background-color: #A9A9A9;
    min-height: 70px;
    position: absolute;
    width: 100%;
}


#conceptExplain {
    border-radius: 2%;
    background-color: #FECDA6;
}

#concept li {
    margin-left: 1.5rem;
}

#NosParte {
    background-color: #FF5B22;
    margin-bottom: 6rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: xx-large;
}

#concept h1 {
    font-family: 'Italianno', cursive;
    font-size: 150px;
}

.rounded-custom {
    border-radius: 15px;
}

.account-item {
    background-color: white;
    padding: 70px;
    margin-bottom: 5rem;
}

.account-item a {
    font-size: 20px;
    font-weight: bold;
}


@media only screen and (max-width: 700px) {
    #concept h1 {
      font-size: 90px; /* Taille réduite pour les écrans de téléphone */
    }
  }
#mot-de-passe{
    border: none;
}

.info-bubbles {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-bubble {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Ajout de marge en bas */
}

.info-bubble:nth-child(odd) {
    float: left;
    clear: left;
    margin-right: 10px; /* Espacement entre les bulles */
}

.info-bubble:nth-child(even) {
    float: right;
    clear: right;
    margin-left: 10px; /* Espacement entre les bulles */
}


#navbarTogglerDemo01 li{
    margin-left: 3rem;
}
#imglogout{
    margin-right: 1rem;
}

#contenuplus {
    display: block;
}
#voirplus{
    display: none;
}

@media (max-width: 700px) {
    #voirplus{
        display: block;
        text-decoration: none;
        font-weight: bold;
    }
    #contenuplus.collapse {
        display: none;
    }

    #contenuplus.expanded {
        display: block;
    }
}
/* CSS du bouton pour selectionner les boxs*/
.button-74 {
    background-color: #FECDA6;
    border: 2px solid #FECDA6;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  @media (max-width: 700px) {
    .button-74 {
      max-height: 60px;
      font-size: 11px;
      padding: 0 ;
      line-height: 15px;
  
    }
  }

#btnaccesbox{
    justify-content: center;
}
#cardboxs{
    border: none;
}
#cardboxs img{
height: 320px;
}

.cardtext p, li{
    margin-left: 2rem;
}
#cardboxs a{
margin-top: 2rem;
margin-bottom: 5rem;
}
@media (max-width: 700px){
    .cardtext{
        display:none ;
    }
    h5{
        font-size: smaller;
    }
    #cardboxs img{
        height: 200px;
        }
}
#cardparte img{
    height: 250px;
}
@media (min-width: 700px){
    #fullparte{
        display:flex;
    }
    #oneparte{
        display: none;
    }
}
    @media (max-width: 700px){
        #fullparte{
            display:none;
        }
        #oneparte{
            display: flex;
            justify-content: center;
        }
    }